<div class="container">
  <div  style="text-align: center;">
    <br>
    <h1>Fuel Request Form</h1>
  </div>

  <div class="card mt-5" style="padding: 20px;">
    <form #registerForm="ngForm" (ngSubmit) = "submitted(registerForm)">
      <div class="form-group">
        <label >Order ID :</label>
        <input type="text" #orderId (ngModel)="orderId" name="orderId" id="orderId" class="form-control" >
      </div><br>
      <div class="form-group">
        <label >Station ID :</label>
        <input type="text" #stationId (ngModel)="stationId" name="stationId" id="stationId" class="form-control" >
      </div><br>
      <div class="form-group">
        <label >Station Name :</label>
        <input type="text" #stationName (ngModel)="stationName" name="stationName" id="stationName" class="form-control" >
      </div><br>
      <div class="form-group">
        <label >Station Location :</label>
        <input type="text" #location (ngModel)="location" name="location" id="location" class="form-control">
      </div><br>
      <div class="form-group">
        <label >Fuel Type :</label>
        <!-- <input type="text" #fuelType (ngModel)="fuelType" name="fuelType" id="fuelType" class="form-control" > -->
        <select  #fuelType id="fuelType" name="fuelType"  (ngModel)="fuelType" class="form-control">
          <option >Octane 92</option>
          <option >Octane 95</option>
          <option >Diesel</option>
          <option >Super Diesel</option>
        </select>
      </div><br>
      <div class="form-group">
        <label >Amount of fuel :</label>
        <input type="text" #amount (ngModel)="amount" name="amount" id="amount" class="form-control">
      </div>
     
        <div class="form-group">
          <!-- <label >Status :</label> -->
          <input  type="text"  #status (ngModel)="status" name="status" id="status" value="Pending" class="form-control "  style="visibility: hidden;" >
        </div><br>
        <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary w-100">
      </div>
    </form>
  </div>
</div>

<br>
<br>



<div class="container w-25">
  <div class="row">
    <div class="col-md registration">
      <h4> Check Station Id and Order Received Submission</h4>
      <br>
        <div class="form-group mt-sm-2">
          <label >Station ID</label>
          <input type="text" class="form-control"  [(ngModel)] = "id">
        </div>
        <button type="button" class="btn btn-primary mt-sm-2" (click)="getOrderById()">Submit</button>
    </div>
  </div>
</div>


<div class="mt-5">
  <table class="table table-bordered">
    <thead class="thread">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Name</th>
        <th scope="col">Station Id</th>
        <th scope="col">Location</th>
        <th scope="col">Capacity</th>
        <th scope="col">Fuel Type</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let order of orderDetails">
        <td>{{order.orderId}}</td>
        <td>{{order.stationName}}</td>
        <td>{{order.stationId}}</td>
        <td>{{order.location}}</td>
        <td>{{order.fuelType}}</td>
        <td>{{order.amount}}</td>
        <td>{{order.status}}</td>
        <td ><button type="button" class="btn btn-success " *ngIf="order.status == 'Dispatched'" (click) = "updateOrder(order.orderId)">Completed</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div style="display: inline-flex;">
<h3 >Check Dispatch Orders Here - </h3>
  <a class="nav-link" routerLink="dispatch-order" routerLinkActive="active" ><button class=" btn btn-info">Dispatch Orders</button></a>
</div>
<router-outlet></router-outlet>
